/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h2 {
  font-family: "Poppins", sans-serif;
}
.header-cotainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

ul li {
  list-style: none;
}

.header-cotainer ul {
  display: flex;
  align-items: center;
}
.header-cotainer ul li a {
  margin-right: 20px;
  color: #434141;
}
.cart-box {
  display: flex;
  align-items: center;
}

.cart-box img {
  margin-right: 10px;
}

.head-section {
  background-color: #fff3f3;
}

/* Working on banner Container */
.banner-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 20px 0px 0px 0px;
}

button.feast {
  padding: 10px 20px;
  background: #ffe6e6;
  border-radius: 20px;
  border: none;
}

button.feast {
  color: #ff2626;
}
.banner-heading {
  margin-top: 10px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}
.banner-heading span {
  color: red;
}

.banner-text {
  font-size: 20px;
  margin-top: 10px;
  color: #434141;
  font-family: "Open Sans", sans-serif;
}
.btn-group {
  margin-top: 20px;
}
.btn-group button {
  margin-top: 50px;
  padding: 20px 40px;
  background: #ff2626;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 100px;
}

.banner-box {
  max-width: 624px;
  height: 576px;
}

.banner-box img {
  width: 100%;
  height: 100%;
}

/* Top Catagories */

.top-catagories h2 {
  padding-top: 10px;
  text-align: center;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
}

.catagories {
  padding: 10px 0px;
}
.catagories .items {
  padding: 90px 80px;
  height: 373px;
  width: 266px;
  border: 1px solid #d62020;
  border-radius: 20px;
}
.catagories .items h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
  text-align: center;
}

.catagories .items:hover {
  background-color: #ff2626;
  font-weight: bold;
  padding: 90px 80px;
  height: 373px;
  width: 266px;
  border: 1px solid #d62020;
  border-radius: 20px;
  color: white;
}
.catagories {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

/* Oder section code */
.order-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.order-box h2 {
  font-size: 52px;
  font-family: "Courier New", Courier, monos;
}

.order-box p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin: 20px 0px;
  color: gray;
}

.order-box button {
  margin: 20px 0px;
  padding: 20px 60px;
  background: #ff2626;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 100px;
}
.order-img {
  width: 426.31px;
  height: 536px;
}
